           p{

               color: rgb(245, 16, 92);

               text-decoration: underline;

               border: dotted;

               text-align: center;

           }

           .header{

            background-color: aqua;

            text-shadow: 1px 1px #ff0000;

            border: dotted;

           }

           .menue{

               border: double;
               
           }
